// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  color: $text-color;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-text {
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
    font-family: $text-font-stack;
  }

  .footer-links {
    margin-top: 10px;

    a {
      color: $brand-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
